.col-md-4
  .panel.panel-default
    .panel-heading
      %h2 Sign in
    .panel-body
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.error_notification
        .form-group
          = f.label :email
          = f.email_field :email, required: false, autofocus: true
        .form-group
          = f.label :password
          = f.password_field :password, required: false
        .form-group
          = f.check_box :remember_me, class: "checkbox"
          = f.label :remember_me
        .form-group
          = f.submit "Sign in", class: "btn btn-primary"
    .panel-footer
      = render "devise/shared/links"
